In [7]:
import pandas as pd
import requests
import os

Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\envs\stock-market-analysis\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\envs\stock-market-analysis\lib\site-packages (from openpyxl) (1.1.0)

In [9]:
import sys
!{sys.executable} -m pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

WARNING: You are using pip version 20.1.1; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [3]:
#get listed companies 
url = 'https://dps.psx.com.pk/market-watch'
res = requests.get(url)
dfs = pd.read_html(res.text)
df = dfs[0]
companies = list(df['SYMBOL'])

In [4]:
df_bargain = pd.DataFrame(columns = ['SYMBOL','HIGH','LOW','CURRENT'])
df_notbargain = pd.DataFrame(columns = ['SYMBOL','HIGH','LOW','CURRENT'])
no_data = []
i = 1
for company in companies:
    url_company = os.path.join('https://dps.psx.com.pk/timeseries/eod/',company)
    res_company = requests.get(url_company).json()
    df = pd.DataFrame(res_company['data'],columns = ['Date','Price','Unknown1','Unknown2'])
    #data prepeocessing
    df.drop(['Unknown1','Unknown2'],inplace = True,axis = 1)
    df['Date'] = pd.to_datetime(df['Date'],unit = 's')
    df['Price'] = pd.to_numeric(df['Price'])
    #anlyzing current stock price wrt highest and lowest price
    try:
        max_price = df.iloc[df['Price'].idxmax()]['Price']
        min_price = df.iloc[df['Price'].idxmin()]['Price']
        current_price = df.iloc[0]['Price']
        #percentage difference between current stock price and the lowest price wrt max price
        lowest_price_ratio = (min_price/max_price)*100
        current_price_ratio = (current_price/max_price)*100
        difference = abs(current_price_ratio-lowest_price_ratio)
        if difference < 10:
            df_bargain = df_bargain.append({'SYMBOL': company,'HIGH':max_price,'LOW':min_price,'CURRENT':current_price},ignore_index=True)
        else:
            df_notbargain = df_notbargain.append({'SYMBOL': company,'HIGH':max_price,'LOW':min_price,'CURRENT':current_price},ignore_index=True)
        print(i,' comapany analyzed')
        i+=1
    except:
        no_data.append(company)
        print('no data found for ', company)
    finally:
        continue

1  comapany analyzed
no data found for  HASCOLDEF
2  comapany analyzed
3  comapany analyzed
4  comapany analyzed
5  comapany analyzed
6  comapany analyzed
7  comapany analyzed
8  comapany analyzed
9  comapany analyzed
no data found for  NBPXD
10  comapany analyzed
11  comapany analyzed
12  comapany analyzed
13  comapany analyzed
14  comapany analyzed
15  comapany analyzed
16  comapany analyzed
17  comapany analyzed
18  comapany analyzed
19  comapany analyzed
20  comapany analyzed
no data found for  FABLXD
21  comapany analyzed
no data found for  DSLDEF
22  comapany analyzed
23  comapany analyzed
24  comapany analyzed
25  comapany analyzed
26  comapany analyzed
27  comapany analyzed
28  comapany analyzed
29  comapany analyzed
30  comapany analyzed
31  comapany analyzed
32  comapany analyzed
33  comapany analyzed
34  comapany analyzed
35  comapany analyzed
no data found for  ATRLXD
36  comapany analyzed
37  comapany analyzed
38  comapany analyzed
39  comapany analyzed
40  comapany analyzed
41  comapany analyzed
no data found for  MEBLXB
42  comapany analyzed
43  comapany analyzed
44  comapany analyzed
45  comapany analyzed
46  comapany analyzed
47  comapany analyzed
48  comapany analyzed
49  comapany analyzed
50  comapany analyzed
51  comapany analyzed
52  comapany analyzed
53  comapany analyzed
54  comapany analyzed
no data found for  METAXB
55  comapany analyzed
56  comapany analyzed
57  comapany analyzed
58  comapany analyzed
59  comapany analyzed
60  comapany analyzed
61  comapany analyzed
62  comapany analyzed
63  comapany analyzed
64  comapany analyzed
65  comapany analyzed
66  comapany analyzed
67  comapany analyzed
68  comapany analyzed
69  comapany analyzed
70  comapany analyzed
71  comapany analyzed
72  comapany analyzed
73  comapany analyzed
74  comapany analyzed
75  comapany analyzed
76  comapany analyzed
77  comapany analyzed
78  comapany analyzed
79  comapany analyzed
80  comapany analyzed
no data found for  POLXD
81  comapany analyzed
82  comapany analyzed
83  comapany analyzed
84  comapany analyzed
85  comapany analyzed
no data found for  HIRATDEF
86  comapany analyzed
87  comapany analyzed
88  comapany analyzed
89  comapany analyzed
90  comapany analyzed
91  comapany analyzed
92  comapany analyzed
93  comapany analyzed
94  comapany analyzed
95  comapany analyzed
96  comapany analyzed
97  comapany analyzed
98  comapany analyzed
99  comapany analyzed
100  comapany analyzed
no data found for  PILDEF
101  comapany analyzed
102  comapany analyzed
103  comapany analyzed
no data found for  APLXDXB
no data found for  BAPLDEF
104  comapany analyzed
105  comapany analyzed
106  comapany analyzed
107  comapany analyzed
108  comapany analyzed
109  comapany analyzed
110  comapany analyzed
111  comapany analyzed
no data found for  DFMLDEF
112  comapany analyzed
no data found for  PASLDEF
113  comapany analyzed
114  comapany analyzed
115  comapany analyzed
116  comapany analyzed
117  comapany analyzed
118  comapany analyzed
119  comapany analyzed
120  comapany analyzed
121  comapany analyzed
122  comapany analyzed
123  comapany analyzed
124  comapany analyzed
125  comapany analyzed
126  comapany analyzed
127  comapany analyzed
128  comapany analyzed
129  comapany analyzed
130  comapany analyzed
131  comapany analyzed
132  comapany analyzed
133  comapany analyzed
134  comapany analyzed
135  comapany analyzed
136  comapany analyzed
137  comapany analyzed
138  comapany analyzed
139  comapany analyzed
140  comapany analyzed
141  comapany analyzed
142  comapany analyzed
143  comapany analyzed
144  comapany analyzed
145  comapany analyzed
146  comapany analyzed
no data found for  AICLXD
147  comapany analyzed
148  comapany analyzed
149  comapany analyzed
150  comapany analyzed
151  comapany analyzed
no data found for  ATBAXDXB
152  comapany analyzed
153  comapany analyzed
154  comapany analyzed
155  comapany analyzed
156  comapany analyzed
157  comapany analyzed
158  comapany analyzed
159  comapany analyzed
160  comapany analyzed
161  comapany analyzed
162  comapany analyzed
163  comapany analyzed
164  comapany analyzed
165  comapany analyzed
166  comapany analyzed
167  comapany analyzed
168  comapany analyzed
169  comapany analyzed
170  comapany analyzed
171  comapany analyzed
172  comapany analyzed
173  comapany analyzed
174  comapany analyzed
no data found for  BILFDEF
no data found for  SCBPLXD
175  comapany analyzed
176  comapany analyzed
177  comapany analyzed
178  comapany analyzed
no data found for  MRNSXB
179  comapany analyzed
180  comapany analyzed
181  comapany analyzed
182  comapany analyzed
183  comapany analyzed
184  comapany analyzed
185  comapany analyzed
186  comapany analyzed
no data found for  TRIPFXD
187  comapany analyzed
188  comapany analyzed
189  comapany analyzed
190  comapany analyzed
191  comapany analyzed
192  comapany analyzed
193  comapany analyzed
194  comapany analyzed
195  comapany analyzed
196  comapany analyzed
197  comapany analyzed
198  comapany analyzed
199  comapany analyzed
200  comapany analyzed
201  comapany analyzed
202  comapany analyzed
203  comapany analyzed
204  comapany analyzed
205  comapany analyzed
206  comapany analyzed
207  comapany analyzed
208  comapany analyzed
209  comapany analyzed
210  comapany analyzed
211  comapany analyzed
212  comapany analyzed
213  comapany analyzed
214  comapany analyzed
215  comapany analyzed
216  comapany analyzed
217  comapany analyzed
218  comapany analyzed
219  comapany analyzed
220  comapany analyzed
221  comapany analyzed
222  comapany analyzed
223  comapany analyzed
no data found for  CWSMDEF
224  comapany analyzed
225  comapany analyzed
226  comapany analyzed
227  comapany analyzed
228  comapany analyzed
229  comapany analyzed
230  comapany analyzed
231  comapany analyzed
232  comapany analyzed
no data found for  NCMLDEF
233  comapany analyzed
234  comapany analyzed
235  comapany analyzed
236  comapany analyzed
237  comapany analyzed
no data found for  COLGXDXB
no data found for  GADTXD
238  comapany analyzed
no data found for  IGIHLXD
239  comapany analyzed
240  comapany analyzed
241  comapany analyzed
242  comapany analyzed
243  comapany analyzed
244  comapany analyzed
no data found for  ABOTXD
245  comapany analyzed
246  comapany analyzed
247  comapany analyzed
248  comapany analyzed
no data found for  HSPIDEF
249  comapany analyzed
250  comapany analyzed
251  comapany analyzed
252  comapany analyzed
253  comapany analyzed
254  comapany analyzed
255  comapany analyzed
256  comapany analyzed
no data found for  PECODEF
257  comapany analyzed
258  comapany analyzed
259  comapany analyzed
260  comapany analyzed
261  comapany analyzed
262  comapany analyzed
263  comapany analyzed
264  comapany analyzed
265  comapany analyzed
266  comapany analyzed
267  comapany analyzed
268  comapany analyzed
269  comapany analyzed
270  comapany analyzed
271  comapany analyzed
272  comapany analyzed
273  comapany analyzed
274  comapany analyzed
275  comapany analyzed
276  comapany analyzed
277  comapany analyzed
278  comapany analyzed
279  comapany analyzed
280  comapany analyzed
281  comapany analyzed
282  comapany analyzed
283  comapany analyzed
284  comapany analyzed
285  comapany analyzed
286  comapany analyzed
287  comapany analyzed

In [4]:
df_bargain.head(15)

    SYMBOL    HIGH     LOW  CURRENT
0     BAFL   58.94   28.55    32.82
1    UNITY  188.66    7.62    21.16
2   CNERGY   18.12    4.71     5.04
3     OGDC  177.31   75.01    78.40
4    ENGRO  366.00  226.14   229.42
5      HBL  218.99   83.15    83.15
6      PPL  222.96   64.91    65.08
7     DGKC  171.58   42.31    59.30
8    GTECH   13.37    7.30     8.20
9     FCCL   35.21   11.68    15.00
10     BOP   14.41    5.14     5.49
11    HUBC  115.98   57.40    65.70
12    PAEL   77.97   14.32    16.09
13     FFL   74.08    5.81     6.32
14    SNGP  146.96   25.88    33.22

In [5]:
df_bargain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SYMBOL   103 non-null    object
 1   HIGH     103 non-null    float64
 2   LOW      103 non-null    float64
 3   CURRENT  103 non-null    float64
dtypes: float64(3), object(1)
memory usage: 3.3+ KB

In [10]:
file_name = 'potential_bargains.xlsx'
df_bargain.to_excel(file_name)